.dashboard {
    -fx-position: absolute;
    -fx-background-color: #000000;
    -fx-height: 1024px;
    -fx-width: 1440px;
    -fx-padding: 0px;
}

.image2 {
    -fx-fit-height: 64px;
    -fx-fit-width: 74px;
    -fx-left: 44px;
    -fx-top: 177px;
    -fx-position: absolute;
}

.image2:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.3;
    -fx-scale-x: 1.3;
}

.image2:pressed {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.menu-default {
    -fx-fit-height: 81px;
    -fx-fit-width: 83px;
    -fx-padding: 0px;
    -fx-left: 1036px;
    -fx-top: 0px;
    -fx-position: absolute;
}

.menu-default:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.3;
    -fx-scale-x: 1.3;
}

.menu-default:pressed {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.menu-user_circle {
    -fx-fit-height: 115px;
    -fx-fit-width: 118px;
    -fx-padding: 0px;
    -fx-left: 25px;
    -fx-top: 872px;
    -fx-position: absolute;
}

.menu-user_circle:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.3;
    -fx-scale-x: 1.3;
}

.menu-user_circle:pressed {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.chart-series-line {
    -fx-stroke: #9747FF;
}

.chart-plot-background {
    -fx-background-color: #000000;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.axis {
    -fx-text-fill: #ffffff;
}

.chart-title {
    -fx-text-fill: #ffffff;
}

.chart-axis-label {
    -fx-text-fill: #ffffff;
}





